<header>
    <h1>Movies</h1>
</header>
<main>
    <ul>
        {{#each movies}}
        <li>
            <span>{{title}}</span>
            <span>{{description}}</span>
        </li>
        {{/each}}
    </ul>
    <form action="/" method="POST">
        <label>Title: <input type="text" name="title" /></label>
        <label>Description: <input type="text" name="description" /></label>
        <button>Submit</button>
    </form>
</main>